.details{
    margin-bottom: 200px;
}
.details img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.details .box{
    overflow: hidden;
}
.details .col-sm-4 h6{
    font-size: 45px;
    font-weight: 600;
    margin-top: 40px;
}
.details .col-sm-4 p{
    margin: 20px auto;
}

.details .box:hover img{
    transform: scale(1.1);
    cursor: pointer;
}