.custom_one {
    margin-bottom: 200px;
    background: #000;
    padding: 20px;
    color: #fff;
}

.custom_one h6{
    font-size: 50px;
    font-weight: 600;
    margin: 20px auto;
}

.custom_one .btn{
    width: 300px;
    margin-top: 100px;
}

.custom_one .btn:hover{
    background: var(--main) !important;
}