.why_choose{
    position: relative;
    margin-bottom: 20px;
}
.why_choose img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

.whyChooseContent{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: #000;
    padding: 20px;
    background: var(--main);
    width: 50%;
    height: 100%; 
}
.whyChooseContent h6{
    font-size: 60px;
    font-weight: 800;
    margin: 20px auto;
}
.whyChooseContent p{
    margin: 30px auto;
}


