.offer{
    margin-bottom: 200px;
}

.offer .box{
    box-shadow: var(--box_shadow);
    background: #ccc;
    overflow: hidden;
    cursor: pointer;
}

.offer .boxContent{
    padding: 20px;
}

.offer .boxContent h6{
    font-size: 20px;
}

.offer .mid{
    margin-top: 50px;
}

.offer .box:hover .boxContent{
    transform: scale(1.08);
}
