.home{
    position: relative;
    z-index: -1;
}
.home img{
    height: 90vh;
    width: 100%;
    object-fit: cover;
}
.HomeOverlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.6;
}
.HomeContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
.HomeContent h6{
    font-size: 50px;
    font-weight: 600;
}

.HomeContent h6 span {
    font-size: 60px;
    font-weight: 900;
    color: var(--main);

}

/* Start */
.custom{
    margin-top: -80px;
    z-index: 4;
    background: #fff;
    padding: 20px;    
}
.custom .col-sm-4{
    text-align: center;
}

.custom .col-sm-4:hover{
    background: #000;
    color: #fff;
    padding: 3px; 
}

.custom .col-sm-4 h6{
    font-size: 25px;
    font-weight: 600;
    color: var(--main);
}

.custom .col-sm-4 h5{
    font-size: 17px;
    font-weight: 700;
}