.contact{
    margin-bottom: 20px;
}
.contact .form-group{
    margin-bottom: 10px;
}
.contact img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.contact .box{
    overflow: hidden;
}
.contact .box:hover img{
    transform: scale(1.1);
    cursor: pointer;
}
.contact h6{
    font-size: 40px;
    font-weight: 600;
    margin: 15px auto;
}
.contact h6 span{
    font-size: 50px;
    font-weight: 800;
    color: var(--main);
}
.contact p{
    margin: 25px auto;
}
.contact input,
.contact textarea{
    border-radius: 15px !important;
}