.navbar{
    padding: 20px;
    border-bottom: 3px solid #fff;
    display: flex;
    justify-content: space-between;
}
.navbar.active{
    background: #000;
    padding: 4px;
}
.navbar-brand{
    font-size: 3em;
    color: #fff !important;
    padding: 0px 60px;
}
.navbar-brand span{
    font-size: 1.6em;
    color: var(--main);
    font-weight: 600;
}
.navbar-nav{
    padding: 0px 60px;
    margin-top: 50px;
}
.nav-link{
    color: #fff !important;
    
}
.nav-link:hover{
    color: var(--main) !important;
}