/* Global Variables */
:root {
  --main: skyblue;
  --box_shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.4),
    inset 10px 10px 10px -10px rgba(0, 0, 0, 0.7);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}

*::selection {
  background: var(--main);
  color: #000;
}

.content{
  text-align: center;
  margin: 80px auto;
}

.content h6{
  font-size: 60px;
  font-weight: 700;
}

.content p{
  font-size: 13px;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--main);
}
html::-webkit-scrollbar-track {
  background: #000;
}

.btn{
  width: 180px;
  background: var(--main);
  color: #fff !important;
  transition: 0.3s;
}

.btn:hover{
  letter-spacing: 2px;
  background: #000 !important;
}

.whyChooseContent .btn{
  background: #000 !important;
}

